
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>大麥手機!!</title>
</head>
<body>
    <div>
        <h1>大麥手機</h1>
        <form action="~/home/Create" method="post">
            <label for="name">訂購者</label>
            <input type="text" id="name" name="name" />
            <button type="button" id="btn">Order!</button>
        </form>
        <span id="successMessage"></span>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-2.1.0.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>

    $.connection.hub.url = "/signalr";
    $.connection.hub.start().done(function () {
        $('#btn').click(function () {
            $.ajax({
                type: 'POST',
                url: "/api/Order",
                data: { name: $("#name").val(), connectionID: $.connection.hub.id },
                success: function () {
                    alert("已送出");
                },
                dataType: "json"
            });
        });
    });
    
    var msgHub = $.connection.messageHub;
    var flag = false;

    msgHub.client.successMessage = function (message) {
        alert(message + "您好，訂單已經送出");
        $("#successMessage").val(message + "您好，訂單已經送出");
    };

</script>
